body{
    background-color: #efefef;
    
    padding:0;
    margin:0;
    
}
.skills>ol{list-style: none}
a{
    text-decoration: none;
  
}
.clearfix::after{
    content: '';
    display:block;
    clear: both;
}
.topNavBar nav ul>li{
    float:left;
    list-style-type: none;
}
.topNavBar nav ul>li>a{
    display: block;
    margin-left:17px;
    margin-right:17px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
    color:#B7B7B7;
}
.logo{
    float:left;
}
.topNavBar nav ul{
    float:right;
    
    margin-top:11px;
}
.topNavBar nav ul>li>a:hover{
    border-bottom-color: #DC6465
}
.topNavBar nav{
    padding:8px 0 8px 0;
}
.topNavBar .logo{
    font-family: "Hiragino Kaku Gothic Std";
  font-size: 22px;
  padding-top: 14px;
  padding-left:14px;
font-weight: bold
}
.topNavBar .logo .rs{
    color: #e6686a;
  margin-right: 4px;
}
.topNavBar .logo .card{
    color: #9A9DA2;
  }
  .banner {
     height:500px;
     background-size: cover;
     
  }
  .topNavBar{
      position:fixed;
      top:0;
      left:0;
      width:100%;
     
  }
  .banner .mask{
      height: 500px;
      background-color: rgba(0, 0, 0, 0.5)
      
  }
  .Usercard{
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      background-color: #ffffff;
      box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  }
  
.welcome{
    background-color: #E6686a;
color:white;
display: inline-block;
padding:4px 16px;
position: relative;
}
.tri{
  border:10px solid transparent;
  width:0px;
  height:0px;
  border-top-color:transparent;
  border-right-color:transparent;
  border-left-color:#E6686A;
  border-top-width:0;
  position: absolute;
  left:4px;
  top:100%;
}
.text{
    float:left;
    margin-left:65px;
    margin-top:50px;
}
.picture{
    float:left;
    margin-left:40px;
    margin-top:50px;
}
.ss p{
    float:left;
    width: 50%
}
.media{
    background-color: #E6686A;
    text-align: center
}
footer svg{
    width:30px;
    height:30px;
    fill:white;
}
footer img{
    
    width:30px;
    height:30px;
    background-size: cover;
  padding:10px 10px;
  
}
.media a{
   
    display:inline-block;
    border-radius: 50%;
    margin-right:20px;

}
 .media>a:hover{
background-color:#CF5D5F;
}
main .download{
    display: inline-block;
    color:black;
    font-size: 14px;
    padding:20px 55px;
    border:1px solid #cdcfd1;
    border-radius:2px;
    transition: box-shadows 0.5s;
}
main .mi{
    text-align: center;
}

main .download:hover{
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.5);
}
.selfIn{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 30px;
    font-family: 'Courier New', Courier, monospace
}
.skills{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top:60px;
}
.skills>h2{
    text-align: center;
    font-size:34px;
    line-height: 1.2;
    font-weight: 600;  
}
.skills>ol{
    
    padding:40px 50px 8px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.skills>ol>li{
    float:left;
    width: 50%;
    box-sizing:border-box;
    padding-right:30px
}
.skills .Bar{
    height:3px;
    background-color: #fae1e1;
    border-radius:2px;
    margin: 4px 0 40px;
}
.Bar>.progress{
    background-color: #E6686A;
    width:80%;
    height:3px;
}
section h2{
    text-align: center;
    font-size:34px;
    line-height: 1.2;
    font-weight: 600;  
}
.food{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
section nav ol{
    display: inline-block;
    list-style:none;
}
.food li{
    
    float:left;
    margin-left:30px;
    cursor: pointer;
}
section .food li:nth-child(1){
    margin-left:-30px;
}
.food{
    display:inline-block;
    vertical-align: top;
    
    

}

.process{
    text-align: center;
    margin-bottom: 50px;
}
.food .bar{
   
    height: 5px;
    background-color: white;
    margin-top:-10px;
}
.barinner{
    height:100%;
    background-color: #E6686A;
    border-radius:2px;
    width:20%;
    transition: all 0.3s
}

.bar.state-1 .barinner{
    height:100%;
    background-color: #E6686A;
    width:20%;
}

.bar.state-2 .barinner{
    margin-left:64px;
    height:100%;
    background-color: #E6686A;
    width:20%;
}
.bar.state-3 .barinner{
    margin-left:130px;
    height:100%;
    background-color: #E6686A;
    width:43%;
}
